INSERT INTO [CBRM].[dbo].[LamsOwnerInfoTemp] (
    [relNo],
    [llid],
    [TitleLO],
    [NameLO],
    [FatherTitleLO],
    [FatherNameLO],
    [MotherTitleLO],
    [MotherNameLO],
    [SpouseTitleLO],
    [SpouseNameLO],
    [GenderLO],
    [DateOfBirthLO],
    [CountryOfBirthLO],
    [PlaceOfBirthLO],
    [PermanentAddressLO],
    [PerPostalCodeLO],
    [PermanentCountryLO],
    [PermanentDistrictLO],
    [PresentAddressLO],
    [PrePostalCodeLO],
    [PresentCountryLO],
    [PresentDistrictLO],
    [TINLO],
    [ETINLO],
    [ContactNoLO],
    [smartCardLO],
    [NIDLO],
    [StatusLO],
    [maritalStatusLO],
    [officeAddressLO],
    [tabStatus],
    [rowId],
    [status],
    [actionStatus],
    [subCodeLO]
)
SELECT
    NULL,
    LA.[lapLLID],
    OWNER.[aplTitle],
    OWNER.[aplName],
    OWNER.[aplFatherTitle],
    OWNER.[aplFatherName],
    OWNER.[aplMotherTitle],
    OWNER.[aplMotherName],
    OWNER.[aplSpouseTitle],
    OWNER.[aplSpouseName],
    OWNER.[aplGender] ,
	CONVERT(varchar, OWNER.[aplDateOfBirth], 103),
    COB.[cntCode],
    POB.[dstName],
    OWNER.[aplResAddress],
    OWNER.[aplResPostalCode],
    COB.[cntCode],
    RESD.[dstName],
    OWNER.[aplOfficeAddress],
    NULL,
    NULL,
    NULL,
    OWNER.[aplTin],
    OWNER.[apleTin],
    PH.[lcnNo],                         -- phone number from the subquery join
    NULL,
    OWNER.[aplNationalID],
    NULL,
    CASE OWNER.[aplMaritalStatus] WHEN 'M' THEN 'Married' WHEN 'S' THEN 'Single' ELSE NULL END,
    OWNER.[aplOfficeAddress],
    NULL,
    newId(),
    15,
    NULL,
    NULL
FROM
    IDTP_Report.[dbo].[tbl_App_LoanApplication] LA
    INNER JOIN IDTP_Report.[dbo].[tbl_App_LoanApplicationCompanyMap] CM ON LA.[lapLLID] = CM.[lcmLoanApplication]
    INNER JOIN IDTP_Report.[dbo].[tbl_App_Company] COM ON CM.[lcmCompany] = COM.[comCode]
    INNER JOIN IDTP_Report.[dbo].[tbl_App_CompanyOwnerMap] OWM ON COM.[comCode] = OWM.[cmoCompany]
    INNER JOIN IDTP_Report.[dbo].[tbl_App_Applicant] OWNER ON OWM.[cmoApplicant] = OWNER.[aplCode]
    LEFT JOIN IDTP_Report.[dbo].[tbl_Conf_District] POB ON OWNER.[aplPlaceOfBirth] = POB.[dstCode]
    LEFT JOIN IDTP_Report.[dbo].[tbl_Conf_Country] COB ON OWNER.[aplCountryOfBirth] = COB.[cntCode]
    LEFT JOIN IDTP_Report.[dbo].[tbl_Conf_District] RESD ON OWNER.[aplResDistrict] = RESD.[dstCode]
    -- Phone number: pick the first phone record for this owner (applicant)
    LEFT JOIN IDTP_Report.[dbo].[tbl_App_ApplicantPhone] PH 
        ON OWNER.[aplCode] = PH.[lcnApplicant] 
        AND PH.[lcnCode] = (
            SELECT TOP 1 [lcnCode] 
            FROM IDTP_Report.[dbo].[tbl_App_ApplicantPhone] 
            WHERE [lcnApplicant] = OWNER.[aplCode] 
            ORDER BY [lcnCode]
        )
WHERE
    LA.[lapLLID] IN (
    '1133523',
    '1135324',
    '1131242',
    '1131222',
    '357781',
    '372209',
    '361993',
    '400726',
    '436532',
    '433297',
    '438190',
    '443826',
    '444794'
)   -- <--- change or remove as needed
    AND OWNER.[aplCode] IS NOT NULL;


--delete  from  [LamsOwnerInfoTemp]   WHERE    llid = '1019555' 