USE [CBRM]
GO
/****** Object:  StoredProcedure [dbo].[sp_manageLAMSDumpReport]    Script Date: 5/6/2026 6:06:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================                              
-- Author: Adiat                             
-- Create date: OCT 24, 2021                           
-- Description: lams Dump Report                            
-- Updated by:                               
-- ====================================================================
ALTER PROCEDURE [dbo].[sp_manageLAMSDumpReport]
(
    @fromDate varchar(35),
    @toDate varchar(35),
    @productType varchar(35),
    @optType nVARCHAR(10)
)
AS
BEGIN
    SET NOCOUNT ON;

IF (@productType != 'ALL')

	BEGIN
		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2026' , 'all','51'
		--def pending
		IF (@optType = '511')
		BEGIN
			WITH PivotCTE AS (
				SELECT
					df.llid AS llid,
					df.docDef AS docDef,
					df.approver AS approver,
					df.receivedDate AS receivedDate,
					df.dueDate AS dueDate,
					df.defStatus AS status,
					df.pwid,
					ROW_NUMBER() OVER (PARTITION BY df.llid ORDER BY df.docDef) AS rn
				FROM 
					LamsDeferralInfo df
				LEFT JOIN 
					LamsTopLevelInfo com ON df.llid = com.llid 
				LEFT JOIN 
					LamsDisbursInfo ldb ON ldb.llid = com.llid 
				WHERE  
					CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) 
					AND CONVERT(DATETIME, @toDate, 105)
					AND df.defStatus = 'Pending' 
					AND com.productType = @productType
			),
			FinalData AS (
				SELECT DISTINCT
					ldb.disDate AS disDate,
					loan.disCode AS disCode,
					loan.loanAccountNo AS loanAccountNo,
					loan.linkAC AS linkAccNo,
					loan.sanctionLimit AS outStanding,
					'CURRENT' AS loanStatus,
					loan.loanExpiryDate AS loanExpDate,
					COALESCE(LA.NameLA, lb.tradeName) AS customerName,
					loan.llid AS llid,
					df.pwid,
					com.salesChannel AS channel,
					COALESCE(p1.docDef, '') AS docDef1,
					COALESCE(p1.approver, '') AS approver1,
					COALESCE(p1.receivedDate, '') AS receivedDate1,
					COALESCE(p1.dueDate, '') AS dueDate1,
					COALESCE(p1.status, '') AS status1,
					COALESCE(p2.docDef, '') AS docDef2,
					COALESCE(p2.approver, '') AS approver2,
					COALESCE(p2.receivedDate, '') AS receivedDate2,
					COALESCE(p2.dueDate, '') AS dueDate2,
					COALESCE(p2.status, '') AS status2,
					COALESCE(p3.docDef, '') AS docDef3,
					COALESCE(p3.approver, '') AS approver3,
					COALESCE(p3.receivedDate, '') AS receivedDate3,
					COALESCE(p3.dueDate, '') AS dueDate3,
					COALESCE(p3.status, '') AS status3,
					COALESCE(p4.docDef, '') AS docDef4,
					COALESCE(p4.approver, '') AS approver4,
					COALESCE(p4.receivedDate, '') AS receivedDate4,
					COALESCE(p4.dueDate, '') AS dueDate4,
					COALESCE(p4.status, '') AS status4,
					COALESCE(p5.docDef, '') AS docDef5,
					COALESCE(p5.approver, '') AS approver5,
					COALESCE(p5.receivedDate, '') AS receivedDate5,
					COALESCE(p5.dueDate, '') AS dueDate5,
					COALESCE(p5.status, '') AS status5,
					COALESCE(p6.docDef, '') AS docDef6,
					COALESCE(p6.approver, '') AS approver6,
					COALESCE(p6.receivedDate, '') AS receivedDate6,
					COALESCE(p6.dueDate, '') AS dueDate6,
					COALESCE(p6.status, '') AS status6,
					COALESCE(p7.docDef, '') AS docDef7,
					COALESCE(p7.approver, '') AS approver7,
					COALESCE(p7.receivedDate, '') AS receivedDate7,
					COALESCE(p7.dueDate, '') AS dueDate7,
					com.subProductType AS subProductType,
					ROW_NUMBER() OVER (PARTITION BY loan.llid ORDER BY ldb.disDate DESC) AS rn
				FROM 
					LamsDisbursInfo ldb
				LEFT JOIN 
					LamsDeferralInfo df ON ldb.llid = df.llid
				LEFT JOIN 
					LamsApplicantInfo la ON ldb.llid = la.llid
				LEFT JOIN 
					LamsBusinessInfo lb ON ldb.llid = lb.llid
				LEFT JOIN 
					LamsLoanInfo loan ON ldb.llid = loan.llid
				LEFT JOIN 
					LamsTopLevelInfo com ON ldb.llid = com.llid 
				LEFT JOIN 
					PivotCTE p1 ON p1.rn = 1 AND ldb.llid = p1.llid
				LEFT JOIN 
					PivotCTE p2 ON p2.rn = 2 AND ldb.llid = p2.llid
				LEFT JOIN 
					PivotCTE p3 ON p3.rn = 3 AND ldb.llid = p3.llid
				LEFT JOIN 
					PivotCTE p4 ON p4.rn = 4 AND ldb.llid = p4.llid
				LEFT JOIN 
					PivotCTE p5 ON p5.rn = 5 AND ldb.llid = p5.llid
				LEFT JOIN 
					PivotCTE p6 ON p6.rn = 6 AND ldb.llid = p6.llid
				LEFT JOIN 
					PivotCTE p7 ON p7.rn = 7 AND ldb.llid = p7.llid
				WHERE  
					CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) 
					AND CONVERT(DATETIME, @toDate, 105)
					AND com.productType = @productType
					AND df.defStatus = 'Pending' 
			)
			SELECT * FROM FinalData WHERE rn = 1
		END;

		-- def penading & Received
	-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2026' , 'all','51'
	IF (@optType = '51')
		BEGIN
		WITH PivotCTE AS (
			SELECT
				df.llid AS llid,
				df.docDef AS docDef,
				df.approver AS approver,
				df.receivedDate AS receivedDate,
				df.dueDate AS dueDate,
				df.defStatus AS status,
				df.pwid,
				ROW_NUMBER() OVER (PARTITION BY df.llid ORDER BY df.docDef) AS rn
			FROM 
				LamsDeferralInfo df
			LEFT JOIN 
				LamsTopLevelInfo com ON df.llid = com.llid 
			LEFT JOIN 
				LamsDisbursInfo ldb ON ldb.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND com.productType = @productType
		)

		SELECT DISTINCT
			ldb.disDate AS disDate,
			--loan.disCode AS disCode,
			loan.loanAccountNo AS loanAccountNo,
			loan.linkAC AS linkAccNo,
			--COALESCE(LA.NameLA, lb.tradeName) AS fullNo,
			loan.sanctionLimit AS outStanding,
			'CURRENT' AS loanStatus,
			loan.loanExpiryDate AS loanExpDate,
			COALESCE(LA.NameLA, lb.tradeName) AS customerName,
			loan.llid AS llid,
			--(DATEDIFF(DAY, DATEADD(DAY, +15, CONVERT(DATETIME, ldb.disDate, 105)), CONVERT(DATETIME, df.docRecDate, 105))) AS aging,
			df.pwid,
			com.salesChannel AS channel,
			df.defStatus,
			COALESCE(p1.docDef, '') AS docDef1,
			COALESCE(p1.approver, '') AS approver1,
			COALESCE(p1.receivedDate, '') AS receivedDate1,
			COALESCE(p1.dueDate, '') AS dueDate1,
			COALESCE(p1.status, '') AS status1,
			COALESCE(p2.docDef, '') AS docDef2,
			COALESCE(p2.approver, '') AS approver2,
			COALESCE(p2.receivedDate, '') AS receivedDate2,
			COALESCE(p2.dueDate, '') AS dueDate2,
			COALESCE(p2.status, '') AS status2,
			COALESCE(p3.docDef, '') AS docDef3,
			COALESCE(p3.approver, '') AS approver3,
			COALESCE(p3.receivedDate, '') AS receivedDate3,
			COALESCE(p3.dueDate, '') AS dueDate3,
			COALESCE(p3.status, '') AS status3,
			COALESCE(p4.docDef, '') AS docDef4,
			COALESCE(p4.approver, '') AS approver4,
			COALESCE(p4.receivedDate, '') AS receivedDate4,
			COALESCE(p4.dueDate, '') AS dueDate4,
			COALESCE(p4.status, '') AS status4,
			COALESCE(p5.docDef, '') AS docDef5,
			COALESCE(p5.approver, '') AS approver5,
			COALESCE(p5.receivedDate, '') AS receivedDate5,
			COALESCE(p5.dueDate, '') AS dueDate5,
			COALESCE(p5.status, '') AS status5,
			COALESCE(p6.docDef, '') AS docDef6,
			COALESCE(p6.approver, '') AS approver6,
			COALESCE(p6.receivedDate, '') AS receivedDate6,
			COALESCE(p6.dueDate, '') AS dueDate6,
			COALESCE(p6.status, '') AS status6,
			COALESCE(p7.docDef, '') AS docDef7,
			COALESCE(p7.approver, '') AS approver7,
			COALESCE(p7.receivedDate, '') AS receivedDate7,
			COALESCE(p7.dueDate, '') AS dueDate7,
			com.subProductType AS subProductType
		FROM 
			LamsDisbursInfo ldb
		LEFT JOIN 
			LamsDeferralInfo df ON ldb.llid = df.llid
		LEFT JOIN 
			LamsApplicantInfo la ON ldb.llid = la.llid
		LEFT JOIN 
			LamsBusinessInfo lb ON ldb.llid = lb.llid
		LEFT JOIN 
			LamsLoanInfo loan ON ldb.llid = loan.llid
		LEFT JOIN 
			LamsTopLevelInfo com ON ldb.llid = com.llid 
		LEFT JOIN 
			PivotCTE p1 ON p1.rn = 1 AND ldb.llid = p1.llid
		LEFT JOIN 
			PivotCTE p2 ON p2.rn = 2 AND ldb.llid = p2.llid
		LEFT JOIN 
			PivotCTE p3 ON p3.rn = 3 AND ldb.llid = p3.llid
		LEFT JOIN 
			PivotCTE p4 ON p4.rn = 4 AND ldb.llid = p4.llid
		LEFT JOIN 
			PivotCTE p5 ON p5.rn = 5 AND ldb.llid = p5.llid
		LEFT JOIN 
			PivotCTE p6 ON p6.rn = 6 AND ldb.llid = p6.llid
		LEFT JOIN 
			PivotCTE p7 ON p7.rn = 7 AND ldb.llid = p7.llid
		WHERE  
			CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
			AND com.productType = @productType;
		END;

		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2024' , 'SME','50'
	IF (@optType = '50')
		BEGIN
			SELECT 'Processor Name;Br / VC (Received From);Disb Date;Facility Type;LLID;Facility No;Category;Transac A/C No;Loan A/C No;Loan Limit;Old Limit;Net Disbursed;Customer Name;Sales Person;Referral Code;Banca Amount;POBeneficiary;Remarks;GROSSAMOUNT;DISTYPE;SEGMENTCODE;SEGMENT'

		UNION ALL
			SELECT 
				COALESCE(com.createdBy, '') + ';' +
				COALESCE(com.salesChannel, '') + ';' +
				COALESCE(CONVERT(VARCHAR, dis.disDate, 120), '') + ';' +
				COALESCE(com.subProductType, '') + ';' +
				COALESCE(dis.llid, '') + ';' +
				COALESCE(loan.facilityNoLOAN, '') + ';' +
				COALESCE(com.loanCategory, '') + ';' +
				COALESCE(loan.linkAC, '') + ';' +
				COALESCE(loan.loanAccountNo, '') + ';' +
				COALESCE(CONVERT(VARCHAR, loan.sanctionLimit), '') + ';' +
				COALESCE(CONVERT(VARCHAR, loan.lastSanctionLimit), '') + ';' +
				COALESCE(CONVERT(VARCHAR, dis.netAmount), '') + ';' +
				COALESCE(ISNULL(LA.NameLA, LO.NameLO), '') + ';' +
				COALESCE(com.salesPerson, '') + ';' +
				COALESCE(loan.referralCode, '') + ';' +
				COALESCE(CONVERT(VARCHAR, loan.banca), '') + ';' +
				COALESCE(loan.poBenificiary, '') + ';' +
				COALESCE(dis.remarks, '') + ';' +
				COALESCE(CONVERT(VARCHAR, dis.grossAmount), '') + ';' +
				COALESCE(dis.disType, '') + ';' +
				COALESCE(loan.segmentCode, '') + ';' +
				COALESCE(loan.segment, '')

			FROM 
				LamsLoanInfo loan
			LEFT JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsOwnerInfo lo ON loan.llid = lo.llid
			LEFT JOIN 
				LamsDisbursInfo dis ON loan.llid = dis.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			LEFT JOIN 
				LamsClosingInfo lc ON loan.llid = lc.llid 
			WHERE 
				CONVERT(DATETIME, dis.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND com.productType = @productType;
		END;
	    IF ( @optType = '501')
		BEGIN
			SELECT 
				com.createdBy AS slNo,
				com.salesChannel,
				dis.disDate,
				com.subProductType AS facilityType,
				dis.llid,
				loan.facilityNoLOAN,
				com.loanCategory,
				loan.linkAC AS linkAccNo,
				loan.loanAccountNo AS fullAccNo,
				loan.sanctionLimit,
				loan.lastSanctionLimit,
				dis.netAmount,
				COALESCE(LA.NameLA, LO.NameLO,'') AS customerName,
				com.salesPerson,
				loan.referralCode,
				loan.banca AS bancaIns,
				dis.grossAmount,
				loan.poBenificiary,
				dis.disType,
				loan.segmentCode,
				com.productType AS productName,
				lc.br AS branchCode,
				lc.closingDate AS closingDate,
				loan.facilityNoLOAN AS facilityNo,
				com.masterNo AS master,
				loan.loanAccountNo AS loanAcNo,
				lc.closingAmt AS closingBalance,
				loan.sanctionLimit AS outstandingAmount,
				'' AS reasonClosing,
				loan.segment,
				dis.remarks,
				loan.loanExpiryDate AS expiryDate

			FROM 
				LamsLoanInfo loan
			LEFT JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsOwnerInfo lo ON loan.llid = lo.llid
			LEFT JOIN 
				LamsDisbursInfo dis ON loan.llid = dis.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			LEFT JOIN 
				LamsClosingInfo lc ON loan.llid = lc.llid 
			WHERE 
				CONVERT(DATETIME, dis.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND com.productType = @productType;
		END;

		-- 52
		IF (@optType = '52')
		BEGIN
			SELECT 
				ROW_NUMBER() OVER (ORDER BY lc.closingDate) AS slNo,
				lc.br AS br,
				lc.closingDate AS closingDate,
				lc.recDate,
				lc.facilityType AS facilityType,
				lc.facilityNo AS facilityNo,
				com.masterNo AS loanMaster,
				lc.newLoanAcNo AS newLoanAcNo,
				lc.loanAccountNo AS OLDLOANACNO,
				lc.transAcc AS transAcc,
				lc.limInFigure AS limInFigure,
				lc.commission AS commission,
				lc.customerName AS customerName,
				lc.instructionStatus AS status,
				lc.closingAmt AS closingAmt,
				lc.loanLimit AS loanLimit,
				com.loanCategory AS category,
				lc.redemption AS redemption,
				lc.mrta AS mrta,
				lc.pwidMaker AS makerName,
				lc.pwidChecker AS checkerName,
				lc.instructionStatus AS instructionStatus,
				lc.branchName AS branchName,
				lc.requestPersonName AS requestPersonName,
				lc.branchChannel AS branchChannel
			FROM 
				LamsClosingInfo lc
			LEFT JOIN 
				LamsTopLevelInfo com ON lc.llid = com.llid 
			WHERE 
				CONVERT(DATETIME, lc.closingDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND com.productType = @productType;
		END;

		-- 53
		IF (@optType = '53')
		BEGIN
			SELECT * 
			FROM 
				LamsSecurityInfo LS
			LEFT JOIN 
				LamsTopLevelInfo com ON LS.llid = com.llid 
			WHERE 
				CONVERT(DATETIME, LS.dateofIssue, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND com.productType = @productType;
		END;

		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-01-2024' , 'SME','54'

		IF (@optType = '54')
		BEGIN
			SELECT 
				ldb.disDate AS disDate,
				loan.disCode AS disCode,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAc,
				COALESCE(LA.NameLA, lb.tradeName) AS NameLA,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS referralCode,
				loan.emi1stDate AS emi1stDate,
				loan.loanExpiryDate AS emiLastDate,
				loan.emiAmount AS emiAmount,
				loan.pdcBank AS pdcBank,
				loan.tenure AS tenure,
				loan.numberOfPDCrecieved,
				'CURRENT' AS productType, -- user want this field show as Current for all
				loan.routingNo AS routingNo,
				loan.bftnAccount AS bftnAccount
			FROM 
				LamsLoanInfo loan
			LEFT JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			LEFT JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsBusinessInfo lb ON loan.llid = lb.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND com.productType = @productType;
		END;

    		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-01-2024' , 'SME','55'
		IF (@optType = '55')
		BEGIN
		WITH RankedData AS (
			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				la.TitleLA AS titleLA,
				la.NameLA AS nameLA,
				la.subCodeLA AS subCode,
				la.FatherTitleLA AS fatherTitleLA,
				la.FatherNameLA AS fatherNameLA,
				la.MotherTitleLA AS motherTitleLA,
				la.MotherNameLA AS motherNameLA,
				la.SpouseTitleLA AS spouseTitleLA,
				la.SpouseNameLA AS spouseNameLA,
				la.GenderLA AS genderLA,
				la.DateOfBirthLA AS dateOfBirthLA,
				la.CountryOfBirthLA AS countryOfBirthLA,
				la.PlaceOfBirthLA AS placeOfBirthLA,
				la.PermanentAddressLA AS permanentAddressLA,
				la.PerPostalCodeLA AS perPostalCodeLA,
				la.PermanentCountryLA AS permanentCountryLA,
				la.PermanentDistrictLA AS permanentDistrictLA,
				la.TINLA AS tINLA,
				la.ETINLA AS eTINLA,
				la.ContactNoLA AS contactNoLA,
				la.NIDLA AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND (com.productType = 'PL'
				OR com.productType = 'Auto'
				OR com.productType = 'Mortgage'
				OR com.productType = 'Cash Line'
				OR com.productType = 'SME')

			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				'' AS titleLA,
				lb.tradeName AS nameLA,
				lb.subCodeLB AS subCode,
				'' AS fatherTitleLA,
				'' AS fatherNameLA,
				'' AS motherTitleLA,
				'' AS motherNameLA,
				'' AS spouseTitleLA,
				'' AS spouseNameLA,
				'' AS genderLA,
				'' AS dateOfBirthLA,
				'' AS countryOfBirthLA,
				'' AS placeOfBirthLA,
				'' AS permanentAddressLA,
				'' AS perPostalCodeLA,
				'' AS permanentCountryLA,
				'' AS permanentDistrictLA,
				'' AS tINLA,
				lb.eTINNo AS eTINLA,
				lb.contactNumber AS contactNoLA,
				'' AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsBusinessInfo lb ON loan.llid = lb.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND (com.productType = 'PL'
				OR com.productType = 'Auto'
				OR com.productType = 'Mortgage'
				OR com.productType = 'Cash Line'
				OR com.productType = 'SME')

			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				lo.TitleLO AS titleLA,
				lo.NameLO AS nameLA,
				lo.subCodeLO AS subCode,
				lo.FatherTitleLO AS fatherTitleLA,
				lo.FatherNameLO AS fatherNameLA,
				lo.MotherTitleLO AS motherTitleLA,
				lo.MotherNameLO AS motherNameLA,
				lo.SpouseTitleLO AS spouseTitleLA,
				lo.SpouseNameLO AS spouseNameLA,
				lo.GenderLO AS genderLA,
				lo.DateOfBirthLO AS dateOfBirthLA,
				lo.CountryOfBirthLO AS countryOfBirthLA,
				lo.PlaceOfBirthLO AS placeOfBirthLA,
				lo.PermanentAddressLO AS permanentAddressLA,
				lo.PerPostalCodeLO AS perPostalCodeLA,
				lo.PermanentCountryLO AS permanentCountryLA,
				lo.PermanentDistrictLO AS permanentDistrictLA,
				lo.TINLO AS tINLA,
				lo.ETINLO AS eTINLA,
				lo.ContactNoLO AS contactNoLA,
				lo.NIDLO AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsOwnerInfo lo ON loan.llid = lo.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND (com.productType = 'PL'
				OR com.productType = 'Auto'
				OR com.productType = 'Mortgage'
				OR com.productType = 'Cash Line'
				OR com.productType = 'SME')

			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				lj.TitleLJ AS titleLA,
				lj.NameLJ AS nameLA,
				lj.subCodeLJ AS subCode,
				lj.FatherTitleLJ AS fatherTitleLA,
				lj.FatherNameLJ AS fatherNameLA,
				lj.MotherTitleLJ AS motherTitleLA,
				lj.MotherNameLJ AS motherNameLA,
				lj.SpouseTitleLJ AS spouseTitleLA,
				lj.SpouseNameLJ AS spouseNameLA,
				lj.GenderLJ AS genderLA,
				lj.DateOfBirthLJ AS dateOfBirthLA,
				lj.CountryOfBirthLJ AS countryOfBirthLA,
				lj.PlaceOfBirthLJ AS placeOfBirthLA,
				lj.PermanentAddressLJ AS permanentAddressLA,
				lj.PerPostalCodeLJ AS perPostalCodeLA,
				lj.PermanentCountryLJ AS permanentCountryLA,
				lj.PermanentDistrictLJ AS permanentDistrictLA,
				lj.TINLJ AS tINLA,
				lj.ETINLJ AS eTINLA,
				lj.ContactNoLJ AS contactNoLA,
				lj.NIDLJ AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsJointApplicantInfo lj ON loan.llid = lj.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND (com.productType = 'PL'
				OR com.productType = 'Auto'
				OR com.productType = 'Mortgage'
				OR com.productType = 'Cash Line'
				OR com.productType = 'SME')
		
			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				ga.TitleLG AS titleLA,
				ga.NameLG AS nameLA,
				ga.subCodeLG AS subCode,
				ga.FatherTitleLG AS fatherTitleLA,
				ga.FatherNameLG AS fatherNameLA,
				ga.MotherTitleLG AS motherTitleLA,
				ga.MotherNameLG AS motherNameLA,
				ga.SpouseTitleLG AS spouseTitleLA,
				ga.SpouseNameLG AS spouseNameLA,
				ga.GenderLG AS genderLA,
				ga.DateOfBirthLG AS dateOfBirthLA,
				ga.CountryOfBirthLG AS countryOfBirthLA,
				ga.PlaceOfBirthLG AS placeOfBirthLA,
				ga.PermanentAddressLG AS permanentAddressLA,
				ga.PerPostalCodeLG AS perPostalCodeLA,
				ga.PermanentCountryLG AS permanentCountryLA,
				ga.PermanentDistrictLG AS permanentDistrictLA,
				ga.TINLG AS tINLA,
				ga.ETINLG AS eTINLA,
				ga.ContactNoLG AS contactNoLA,
				ga.NIDLG AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsGuarantorInfo ga ON loan.llid = ga.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND (com.productType = 'PL'
				OR com.productType = 'Auto'
				OR com.productType = 'Mortgage'
				OR com.productType = 'Cash Line'
				OR com.productType = 'SME')
		)

		SELECT 
			masterNo,
			llid,
			disDate,
			loanAccountNo,
			linkAC,
			sanctionLimit,
			subProductType,
			facilityNoLOAN,
			titleLA,
			nameLA,
			subCode,
			fatherTitleLA,
			fatherNameLA,
			motherTitleLA,
			motherNameLA,
			spouseTitleLA,
			spouseNameLA,
			genderLA,
			dateOfBirthLA,
			countryOfBirthLA,
			placeOfBirthLA,
			permanentAddressLA,
			perPostalCodeLA,
			permanentCountryLA,
			permanentDistrictLA,
			tINLA,
			eTINLA,
			contactNoLA,
			nIDLA,
			passportNo,
			passportIssueDate,
			passportExpiryDate,
			passportIssueCountry,
			privingLicenseNo,
			drivingLicenseIssueDate,
			drivingLicenseExpiryDate,
			drivingLicenseIssueCountry,
			processorName
		FROM 
			RankedData
		ORDER BY 
		disDate;

		END;

		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '2022-10-01' , '2026-10-01' , 'all','56'
		IF (@optType = '56')
		BEGIN
			SELECT DISTINCT
				dis.disDate,
				com.subProductType,
				loan.facilityNoLOAN AS facilityNo,
				COALESCE(LA.NameLA, LB.tradeName) AS customerName,
				loan.loanAccountNo AS loanAccountNo,
				dis.llid,
				DATEDIFF(DAY,DATEADD(DAY, +15, CONVERT(DATETIME, dis.disDate, 105)),COALESCE(CONVERT(DATETIME, df.docRecDate, 105), GETDATE())) AS aging,
				DATEDIFF(DAY,DATEADD(DAY, +5, CONVERT(DATETIME, dis.disDate, 105)),COALESCE(CONVERT(DATETIME, df.docRecDate, 105), GETDATE())) AS simultaAging,
				df.docRecDate,
				df.docPenDate AS status,
				sec.securityType,
				com.salesChannel,
				com.salesPerson,
				df.pwid
			FROM 
				LamsLoanInfo loan
			LEFT JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsBusinessInfo lb ON loan.llid = lb.llid
			LEFT JOIN 
				LamsDisbursInfo dis ON loan.llid = dis.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			LEFT JOIN 
				LamsSecurityInfo sec ON loan.llid = sec.llid 
			LEFT JOIN 
				LamsDeferralInfo df ON loan.llid = df.llid
			WHERE  
				CONVERT(DATETIME, dis.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND ( com.productType = 'Mortgage' OR com.productType = 'SME')
				AND (dis.disType = 'Take-Over' OR dis.disType = 'Simultaneous')
				AND (df.docPenDate = 'Done' OR df.docPenDate = 'Pending'); --add in may 06
		END;
		--  EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2024' , 'SME','51'
		--  EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2024' , 'SME','56'

		IF (@optType = '58')
		BEGIN
			SELECT 
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAccNo,
				loan.sanctionLimit AS outStanding,
				'CURRENT' AS loanStatus,
				loan.loanExpiryDate AS loanExpDate,
				COALESCE(LA.NameLA, lb.tradeName) AS customerName,
				loan.llid AS llid,
				(DATEDIFF(DAY, DATEADD(DAY, +15, CONVERT(DATETIME, ldb.disDate, 105)), CONVERT(DATETIME, df.docRecDate, 105))) AS aging,
				com.salesChannel AS channel,
				df.docDef AS docDef,
				df.approver AS approver,
				df.receivedDate AS receivedDate,
				df.dueDate AS dueDate,
				df.defStatus AS status,
                df.receivedDate AS docRecDate,
				df.docPenDate AS docPenDate,
				com.subProductType AS subProductType
			FROM 
				LamsDeferralInfo df
			LEFT JOIN 
				LamsDisbursInfo ldb ON df.llid = ldb.llid
			LEFT JOIN 
				LamsApplicantInfo la ON df.llid = la.llid
			LEFT JOIN 
				LamsBusinessInfo lb ON df.llid = lb.llid
			LEFT JOIN 
				LamsLoanInfo loan  ON df.llid = loan.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON df.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND ( com.productType = 'Mortgage'
				OR com.productType = 'SME')
		END

		IF (@optType = '59')
		BEGIN
			SELECT 
				loan.loanAccountNo,
				loan.linkAC AS linkAccNo,
				ldb.disDate AS disDate,
				com.subProductType,
				com.llid,
				COALESCE(LA.NameLA, LB.tradeName) AS customerName,
				gu.NameLG AS nameLG,
				gu.TitleLG AS titleLG,
				gu.relNo AS relNo,
				gu.guarantorAmountLG ,
				gu.fatherNameLG,
				gu.SpouseNameLG ,
				gu.ContactNoLG as contactNoLG 
				
			FROM 
				LamsGuarantorInfo gu
			LEFT JOIN 
				LamsDisbursInfo ldb ON gu.llid = ldb.llid
			LEFT JOIN 
				LamsApplicantInfo la ON gu.llid = la.llid
			LEFT JOIN 
				LamsBusinessInfo lb ON gu.llid = lb.llid
			LEFT JOIN 
				LamsLoanInfo loan  ON gu.llid = loan.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON gu.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND (com.productType = 'PL'
				OR com.productType = 'Auto'
				OR com.productType = 'Mortgage'
				OR com.productType = 'Cash Line'
				OR com.productType = 'SME')
		END

	END;

	ELSE IF (@productType = 'ALL')

	BEGIN
		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2024' , 'all','51'
		-- def penading 
		IF (@optType = '511')
		BEGIN
			WITH PivotCTE AS (
				SELECT
					df.llid AS llid,
					df.docDef AS docDef,
					df.approver AS approver,
					df.receivedDate AS receivedDate,
					df.dueDate AS dueDate,
					df.defStatus AS status,
					df.pwid,
					ROW_NUMBER() OVER (PARTITION BY df.llid ORDER BY df.docDef) AS rn
				FROM 
					LamsDeferralInfo df
				LEFT JOIN 
					LamsTopLevelInfo com ON df.llid = com.llid 
				LEFT JOIN 
					LamsDisbursInfo ldb ON ldb.llid = com.llid 
				WHERE  
					CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) 
					AND CONVERT(DATETIME, @toDate, 105)
					AND df.defStatus = 'Pending' 
			),
			FinalData AS (
				SELECT DISTINCT
					ldb.disDate AS disDate,
					loan.disCode AS disCode,
					loan.loanAccountNo AS loanAccountNo,
					loan.linkAC AS linkAccNo,
					loan.sanctionLimit AS outStanding,
					'CURRENT' AS loanStatus,
					loan.loanExpiryDate AS loanExpDate,
					COALESCE(LA.NameLA, lb.tradeName) AS customerName,
					loan.llid AS llid,
					df.pwid,
					com.salesChannel AS channel,
					COALESCE(p1.docDef, '') AS docDef1,
					COALESCE(p1.approver, '') AS approver1,
					COALESCE(p1.receivedDate, '') AS receivedDate1,
					COALESCE(p1.dueDate, '') AS dueDate1,
					COALESCE(p1.status, '') AS status1,
					COALESCE(p2.docDef, '') AS docDef2,
					COALESCE(p2.approver, '') AS approver2,
					COALESCE(p2.receivedDate, '') AS receivedDate2,
					COALESCE(p2.dueDate, '') AS dueDate2,
					COALESCE(p2.status, '') AS status2,
					COALESCE(p3.docDef, '') AS docDef3,
					COALESCE(p3.approver, '') AS approver3,
					COALESCE(p3.receivedDate, '') AS receivedDate3,
					COALESCE(p3.dueDate, '') AS dueDate3,
					COALESCE(p3.status, '') AS status3,
					COALESCE(p4.docDef, '') AS docDef4,
					COALESCE(p4.approver, '') AS approver4,
					COALESCE(p4.receivedDate, '') AS receivedDate4,
					COALESCE(p4.dueDate, '') AS dueDate4,
					COALESCE(p4.status, '') AS status4,
					COALESCE(p5.docDef, '') AS docDef5,
					COALESCE(p5.approver, '') AS approver5,
					COALESCE(p5.receivedDate, '') AS receivedDate5,
					COALESCE(p5.dueDate, '') AS dueDate5,
					COALESCE(p5.status, '') AS status5,
					COALESCE(p6.docDef, '') AS docDef6,
					COALESCE(p6.approver, '') AS approver6,
					COALESCE(p6.receivedDate, '') AS receivedDate6,
					COALESCE(p6.dueDate, '') AS dueDate6,
					COALESCE(p6.status, '') AS status6,
					COALESCE(p7.docDef, '') AS docDef7,
					COALESCE(p7.approver, '') AS approver7,
					COALESCE(p7.receivedDate, '') AS receivedDate7,
					COALESCE(p7.dueDate, '') AS dueDate7,
					com.subProductType AS subProductType,
					ROW_NUMBER() OVER (PARTITION BY loan.llid ORDER BY ldb.disDate DESC) AS rn
				FROM 
					LamsDisbursInfo ldb
				LEFT JOIN 
					LamsDeferralInfo df ON ldb.llid = df.llid
				LEFT JOIN 
					LamsApplicantInfo la ON ldb.llid = la.llid
				LEFT JOIN 
					LamsBusinessInfo lb ON ldb.llid = lb.llid
				LEFT JOIN 
					LamsLoanInfo loan ON ldb.llid = loan.llid
				LEFT JOIN 
					LamsTopLevelInfo com ON ldb.llid = com.llid 
				LEFT JOIN 
					PivotCTE p1 ON p1.rn = 1 AND ldb.llid = p1.llid
				LEFT JOIN 
					PivotCTE p2 ON p2.rn = 2 AND ldb.llid = p2.llid
				LEFT JOIN 
					PivotCTE p3 ON p3.rn = 3 AND ldb.llid = p3.llid
				LEFT JOIN 
					PivotCTE p4 ON p4.rn = 4 AND ldb.llid = p4.llid
				LEFT JOIN 
					PivotCTE p5 ON p5.rn = 5 AND ldb.llid = p5.llid
				LEFT JOIN 
					PivotCTE p6 ON p6.rn = 6 AND ldb.llid = p6.llid
				LEFT JOIN 
					PivotCTE p7 ON p7.rn = 7 AND ldb.llid = p7.llid
				WHERE  
					CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) 
					AND CONVERT(DATETIME, @toDate, 105)
					AND df.defStatus = 'Pending' 
			)
			SELECT * FROM FinalData WHERE rn = 1
		END;

		-- def penading & Received
		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2024' , 'all','51'

	IF (@optType = '51')
		BEGIN
			WITH PivotCTE AS (
				SELECT
					df.llid AS llid,
					df.docDef AS docDef,
					df.approver AS approver,
					df.receivedDate AS receivedDate,
					df.dueDate AS dueDate,
					df.defStatus AS status,
					df.pwid,
					ROW_NUMBER() OVER (PARTITION BY df.llid ORDER BY df.docDef) AS rn
				FROM 
					LamsDeferralInfo df
				LEFT JOIN 
					LamsTopLevelInfo com ON df.llid = com.llid 
				LEFT JOIN 
					LamsDisbursInfo ldb ON ldb.llid = com.llid 
				WHERE  
					CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) 
					AND CONVERT(DATETIME, @toDate, 105)

			),
			FinalData AS (
				SELECT DISTINCT
					ldb.disDate AS disDate,
					loan.disCode AS disCode,
					loan.loanAccountNo AS loanAccountNo,
					loan.linkAC AS linkAccNo,
					loan.sanctionLimit AS outStanding,
					'CURRENT' AS loanStatus,
					loan.loanExpiryDate AS loanExpDate,
					COALESCE(LA.NameLA, lb.tradeName) AS customerName,
					loan.llid AS llid,
					df.pwid,
					com.salesChannel AS channel,
					df.defStatus,
					COALESCE(p1.docDef, '') AS docDef1,
					COALESCE(p1.approver, '') AS approver1,
					COALESCE(p1.receivedDate, '') AS receivedDate1,
					COALESCE(p1.dueDate, '') AS dueDate1,
					COALESCE(p1.status, '') AS status1,
					COALESCE(p2.docDef, '') AS docDef2,
					COALESCE(p2.approver, '') AS approver2,
					COALESCE(p2.receivedDate, '') AS receivedDate2,
					COALESCE(p2.dueDate, '') AS dueDate2,
					COALESCE(p2.status, '') AS status2,
					COALESCE(p3.docDef, '') AS docDef3,
					COALESCE(p3.approver, '') AS approver3,
					COALESCE(p3.receivedDate, '') AS receivedDate3,
					COALESCE(p3.dueDate, '') AS dueDate3,
					COALESCE(p3.status, '') AS status3,
					COALESCE(p4.docDef, '') AS docDef4,
					COALESCE(p4.approver, '') AS approver4,
					COALESCE(p4.receivedDate, '') AS receivedDate4,
					COALESCE(p4.dueDate, '') AS dueDate4,
					COALESCE(p4.status, '') AS status4,
					COALESCE(p5.docDef, '') AS docDef5,
					COALESCE(p5.approver, '') AS approver5,
					COALESCE(p5.receivedDate, '') AS receivedDate5,
					COALESCE(p5.dueDate, '') AS dueDate5,
					COALESCE(p5.status, '') AS status5,
					COALESCE(p6.docDef, '') AS docDef6,
					COALESCE(p6.approver, '') AS approver6,
					COALESCE(p6.receivedDate, '') AS receivedDate6,
					COALESCE(p6.dueDate, '') AS dueDate6,
					COALESCE(p6.status, '') AS status6,
					COALESCE(p7.docDef, '') AS docDef7,
					COALESCE(p7.approver, '') AS approver7,
					COALESCE(p7.receivedDate, '') AS receivedDate7,
					COALESCE(p7.dueDate, '') AS dueDate7,
					com.subProductType AS subProductType,
					ROW_NUMBER() OVER (PARTITION BY loan.llid ORDER BY ldb.disDate DESC) AS rn
				FROM 
					LamsDisbursInfo ldb
				LEFT JOIN 
					LamsDeferralInfo df ON ldb.llid = df.llid
				LEFT JOIN 
					LamsApplicantInfo la ON ldb.llid = la.llid
				LEFT JOIN 
					LamsBusinessInfo lb ON ldb.llid = lb.llid
				LEFT JOIN 
					LamsLoanInfo loan ON ldb.llid = loan.llid
				LEFT JOIN 
					LamsTopLevelInfo com ON ldb.llid = com.llid 
				LEFT JOIN 
					PivotCTE p1 ON p1.rn = 1 AND ldb.llid = p1.llid
				LEFT JOIN 
					PivotCTE p2 ON p2.rn = 2 AND ldb.llid = p2.llid
				LEFT JOIN 
					PivotCTE p3 ON p3.rn = 3 AND ldb.llid = p3.llid
				LEFT JOIN 
					PivotCTE p4 ON p4.rn = 4 AND ldb.llid = p4.llid
				LEFT JOIN 
					PivotCTE p5 ON p5.rn = 5 AND ldb.llid = p5.llid
				LEFT JOIN 
					PivotCTE p6 ON p6.rn = 6 AND ldb.llid = p6.llid
				LEFT JOIN 
					PivotCTE p7 ON p7.rn = 7 AND ldb.llid = p7.llid
				WHERE  
					CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) 
					AND CONVERT(DATETIME, @toDate, 105)
			)
			SELECT * FROM FinalData WHERE rn = 1
		END;


		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2024' , 'all','50'
	
	IF (@optType = '50')
		BEGIN
		SELECT 'Processor Name;Br / VC (Received From);Disb Date;Facility Type;LLID;Facility No;Category;Transac A/C No;Loan A/C No;Loan Limit;Old Limit;Net Disbursed;Customer Name;Sales Person;Referral Code;Banca Amount;POBeneficiary;Remarks;GROSSAMOUNT;DISTYPE;SEGMENTCODE;SEGMENT'

			UNION ALL
			SELECT 
				COALESCE(com.createdBy, '') + ';' +
				COALESCE(com.salesChannel, '') + ';' +
				COALESCE(CONVERT(VARCHAR, dis.disDate, 120), '') + ';' +
				COALESCE(com.subProductType, '') + ';' +
				COALESCE(dis.llid, '') + ';' +
				COALESCE(loan.facilityNoLOAN, '') + ';' +
				COALESCE(com.loanCategory, '') + ';' +
				COALESCE(loan.linkAC, '') + ';' +
				COALESCE(loan.loanAccountNo, '') + ';' +
				COALESCE(CONVERT(VARCHAR, loan.sanctionLimit), '') + ';' +
				COALESCE(CONVERT(VARCHAR, loan.lastSanctionLimit), '') + ';' +
				COALESCE(CONVERT(VARCHAR, dis.netAmount), '') + ';' +
				COALESCE(ISNULL(LA.NameLA, LO.NameLO), '') + ';' +
				COALESCE(com.salesPerson, '') + ';' +
				COALESCE(loan.referralCode, '') + ';' +
				COALESCE(CONVERT(VARCHAR, loan.banca), '') + ';' +
				COALESCE(loan.poBenificiary, '') + ';' +
				COALESCE(dis.remarks, '') + ';' +
				COALESCE(CONVERT(VARCHAR, dis.grossAmount), '') + ';' +
				COALESCE(dis.disType, '') + ';' +
				COALESCE(loan.segmentCode, '') + ';' +
				COALESCE(loan.segment, '')
			FROM 
				LamsLoanInfo loan
			LEFT JOIN LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN LamsOwnerInfo lo ON loan.llid = lo.llid
			LEFT JOIN LamsDisbursInfo dis ON loan.llid = dis.llid
			LEFT JOIN LamsTopLevelInfo com ON loan.llid = com.llid 
			LEFT JOIN LamsClosingInfo lc ON loan.llid = lc.llid
			WHERE 
				CONVERT(DATETIME, dis.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
			--	AND com.productType = @productType;
		END;

	    IF ( @optType = '501')
		BEGIN
			SELECT 
				com.createdBy AS slNo,
				com.salesChannel,
				dis.disDate,
				com.subProductType AS facilityType,
				dis.llid,
				loan.facilityNoLOAN,
				com.loanCategory,
				loan.linkAC AS linkAccNo,
				loan.loanAccountNo AS fullAccNo,
				loan.sanctionLimit,
				loan.lastSanctionLimit,
				dis.netAmount,
				COALESCE(LA.NameLA, LO.NameLO,'')  AS customerName,
				com.salesPerson,
				loan.referralCode,
				loan.banca AS bancaIns,
				dis.grossAmount,
				loan.poBenificiary,
				dis.disType,
				loan.segmentCode,
				com.productType AS productName,
				lc.br AS branchCode,
				lc.closingDate AS closingDate,
				loan.facilityNoLOAN AS facilityNo,
				com.masterNo AS master,
				loan.loanAccountNo AS loanAcNo,
				lc.closingAmt AS closingBalance,
				loan.sanctionLimit AS outstandingAmount,
				'' AS reasonClosing,
				loan.segment,
				dis.remarks,
				loan.loanExpiryDate AS expiryDate

			FROM 
				LamsLoanInfo loan
			LEFT JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsOwnerInfo lo ON loan.llid = lo.llid
			LEFT JOIN 
				LamsDisbursInfo dis ON loan.llid = dis.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			LEFT JOIN 
				LamsClosingInfo lc ON loan.llid = lc.llid 
			WHERE 
				CONVERT(DATETIME, dis.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
			--	AND com.productType = @productType;
		END;
		-- 52
		IF (@optType = '52')
		BEGIN
			SELECT 
				ROW_NUMBER() OVER (ORDER BY lc.closingDate) AS slNo,
				lc.br AS br,
				lc.closingDate AS closingDate,
				lc.recDate,
				lc.facilityType AS facilityType,
				lc.facilityNo AS facilityNo,
				com.masterNo AS loanMaster,
				lc.newLoanAcNo AS newLoanAcNo,
				lc.loanAccountNo AS OLDLOANACNO,
				lc.transAcc AS transAcc,
				lc.limInFigure AS limInFigure,
				lc.commission AS commission,
				lc.customerName AS customerName,
				lc.instructionStatus AS status,
				lc.closingAmt AS closingAmt,
				lc.loanLimit AS loanLimit,
				com.loanCategory AS category,
				lc.redemption AS redemption,
				lc.mrta AS mrta,
				lc.pwidMaker AS makerName,
				lc.pwidChecker AS checkerName,
				lc.instructionStatus AS instructionStatus,
				lc.branchName AS branchName,
				lc.requestPersonName AS requestPersonName,
				lc.branchChannel AS branchChannel
			FROM 
				LamsClosingInfo lc
			LEFT JOIN 
				LamsTopLevelInfo com ON lc.llid = com.llid 
			WHERE 
				CONVERT(DATETIME, lc.closingDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
			--	AND com.productType = @productType;
		END;

		-- 53
		IF (@optType = '53')
		BEGIN
			SELECT * 
			FROM 
				LamsSecurityInfo LS
			LEFT JOIN 
				LamsTopLevelInfo com ON LS.llid = com.llid 
			WHERE 
				CONVERT(DATETIME, LS.dateofIssue, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
			--	AND com.productType = @productType;
		END;

		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-01-2024' , 'SME','54'

		IF (@optType = '54')
		BEGIN
			SELECT 
				ldb.disDate AS disDate,
				loan.disCode AS disCode,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAc,
				COALESCE(LA.NameLA, lb.tradeName) AS NameLA,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS referralCode,
				loan.emi1stDate AS emi1stDate,
				loan.loanExpiryDate AS emiLastDate,
				loan.emiAmount AS emiAmount,
				loan.pdcBank AS pdcBank,
				loan.tenure AS tenure,
				loan.numberOfPDCrecieved,
				'CURRENT' AS productType, -- user want this field show as Current for all
				loan.routingNo AS routingNo,
				loan.bftnAccount AS bftnAccount
			FROM 
				LamsLoanInfo loan
			LEFT JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			LEFT JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsBusinessInfo lb ON loan.llid = lb.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				--AND com.productType = @productType;
		END;

    		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-01-2024' , 'SME','55'
		IF (@optType = '55')
		BEGIN
		WITH RankedData AS (
			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				la.TitleLA AS titleLA,
				la.NameLA AS nameLA,
				la.subCodeLA AS subCode,
				la.FatherTitleLA AS fatherTitleLA,
				la.FatherNameLA AS fatherNameLA,
				la.MotherTitleLA AS motherTitleLA,
				la.MotherNameLA AS motherNameLA,
				la.SpouseTitleLA AS spouseTitleLA,
				la.SpouseNameLA AS spouseNameLA,
				la.GenderLA AS genderLA,
				la.DateOfBirthLA AS dateOfBirthLA,
				la.CountryOfBirthLA AS countryOfBirthLA,
				la.PlaceOfBirthLA AS placeOfBirthLA,
				la.PermanentAddressLA AS permanentAddressLA,
				la.PerPostalCodeLA AS perPostalCodeLA,
				la.PermanentCountryLA AS permanentCountryLA,
				la.PermanentDistrictLA AS permanentDistrictLA,
				la.TINLA AS tINLA,
				la.ETINLA AS eTINLA,
				la.ContactNoLA AS contactNoLA,
				la.NIDLA AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				--AND (com.productType = 'PL'
				--OR com.productType = 'Auto'
				--OR com.productType = 'Mortgage'
				--OR com.productType = 'Cash Line'
				--OR com.productType = 'SME')

			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				'' AS titleLA,
				lb.tradeName AS nameLA,
				lb.subCodeLB AS subCode,
				'' AS fatherTitleLA,
				'' AS fatherNameLA,
				'' AS motherTitleLA,
				'' AS motherNameLA,
				'' AS spouseTitleLA,
				'' AS spouseNameLA,
				'' AS genderLA,
				'' AS dateOfBirthLA,
				'' AS countryOfBirthLA,
				'' AS placeOfBirthLA,
				'' AS permanentAddressLA,
				'' AS perPostalCodeLA,
				'' AS permanentCountryLA,
				'' AS permanentDistrictLA,
				'' AS tINLA,
				lb.eTINNo AS eTINLA,
				lb.contactNumber AS contactNoLA,
				'' AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsBusinessInfo lb ON loan.llid = lb.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				AND (com.productType = 'PL'
				OR com.productType = 'Auto'
				OR com.productType = 'Mortgage'
				OR com.productType = 'Cash Line'
				OR com.productType = 'SME')

			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				lo.TitleLO AS titleLA,
				lo.NameLO AS nameLA,
				lo.subCodeLO AS subCode,
				lo.FatherTitleLO AS fatherTitleLA,
				lo.FatherNameLO AS fatherNameLA,
				lo.MotherTitleLO AS motherTitleLA,
				lo.MotherNameLO AS motherNameLA,
				lo.SpouseTitleLO AS spouseTitleLA,
				lo.SpouseNameLO AS spouseNameLA,
				lo.GenderLO AS genderLA,
				lo.DateOfBirthLO AS dateOfBirthLA,
				lo.CountryOfBirthLO AS countryOfBirthLA,
				lo.PlaceOfBirthLO AS placeOfBirthLA,
				lo.PermanentAddressLO AS permanentAddressLA,
				lo.PerPostalCodeLO AS perPostalCodeLA,
				lo.PermanentCountryLO AS permanentCountryLA,
				lo.PermanentDistrictLO AS permanentDistrictLA,
				lo.TINLO AS tINLA,
				lo.ETINLO AS eTINLA,
				lo.ContactNoLO AS contactNoLA,
				lo.NIDLO AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsOwnerInfo lo ON loan.llid = lo.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				--AND (com.productType = 'PL'
				--OR com.productType = 'Auto'
				--OR com.productType = 'Mortgage'
				--OR com.productType = 'Cash Line'
				--OR com.productType = 'SME')

			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				lj.TitleLJ AS titleLA,
				lj.NameLJ AS nameLA,
				lj.subCodeLJ AS subCode,
				lj.FatherTitleLJ AS fatherTitleLA,
				lj.FatherNameLJ AS fatherNameLA,
				lj.MotherTitleLJ AS motherTitleLA,
				lj.MotherNameLJ AS motherNameLA,
				lj.SpouseTitleLJ AS spouseTitleLA,
				lj.SpouseNameLJ AS spouseNameLA,
				lj.GenderLJ AS genderLA,
				lj.DateOfBirthLJ AS dateOfBirthLA,
				lj.CountryOfBirthLJ AS countryOfBirthLA,
				lj.PlaceOfBirthLJ AS placeOfBirthLA,
				lj.PermanentAddressLJ AS permanentAddressLA,
				lj.PerPostalCodeLJ AS perPostalCodeLA,
				lj.PermanentCountryLJ AS permanentCountryLA,
				lj.PermanentDistrictLJ AS permanentDistrictLA,
				lj.TINLJ AS tINLA,
				lj.ETINLJ AS eTINLA,
				lj.ContactNoLJ AS contactNoLA,
				lj.NIDLJ AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsJointApplicantInfo lj ON loan.llid = lj.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				--AND (com.productType = 'PL'
				--OR com.productType = 'Auto'
				--OR com.productType = 'Mortgage'
				--OR com.productType = 'Cash Line'
				--OR com.productType = 'SME')
		
			UNION ALL

			SELECT 
				com.masterNo AS masterNo,
				com.llid AS llid,
				ldb.disDate AS disDate,
				loan.loanAccountNo AS loanAccountNo,
				loan.linkAC AS linkAC,
				loan.sanctionLimit AS sanctionLimit,
				com.subProductType AS subProductType,
				loan.facilityNoLOAN AS facilityNoLOAN,
				ga.TitleLG AS titleLA,
				ga.NameLG AS nameLA,
				ga.subCodeLG AS subCode,
				ga.FatherTitleLG AS fatherTitleLA,
				ga.FatherNameLG AS fatherNameLA,
				ga.MotherTitleLG AS motherTitleLA,
				ga.MotherNameLG AS motherNameLA,
				ga.SpouseTitleLG AS spouseTitleLA,
				ga.SpouseNameLG AS spouseNameLA,
				ga.GenderLG AS genderLA,
				ga.DateOfBirthLG AS dateOfBirthLA,
				ga.CountryOfBirthLG AS countryOfBirthLA,
				ga.PlaceOfBirthLG AS placeOfBirthLA,
				ga.PermanentAddressLG AS permanentAddressLA,
				ga.PerPostalCodeLG AS perPostalCodeLA,
				ga.PermanentCountryLG AS permanentCountryLA,
				ga.PermanentDistrictLG AS permanentDistrictLA,
				ga.TINLG AS tINLA,
				ga.ETINLG AS eTINLA,
				ga.ContactNoLG AS contactNoLA,
				ga.NIDLG AS nIDLA,
				'' AS passportNo,
				'' AS passportIssueDate,
				'' AS passportExpiryDate,
				'' AS passportIssueCountry,
				'' AS privingLicenseNo,
				'' AS drivingLicenseIssueDate,
				'' AS drivingLicenseExpiryDate,
				'' AS drivingLicenseIssueCountry,
				com.createdBy AS processorName
			FROM 
				LamsLoanInfo loan
			INNER JOIN 
				LamsDisbursInfo ldb ON loan.llid = ldb.llid
			INNER JOIN 
				LamsGuarantorInfo ga ON loan.llid = ga.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				--AND (com.productType = 'PL'
				--OR com.productType = 'Auto'
				--OR com.productType = 'Mortgage'
				--OR com.productType = 'Cash Line'
				--OR com.productType = 'SME')
		)

		SELECT 
			masterNo,
			llid,
			disDate,
			loanAccountNo,
			linkAC,
			sanctionLimit,
			subProductType,
			facilityNoLOAN,
			titleLA,
			nameLA,
			subCode,
			fatherTitleLA,
			fatherNameLA,
			motherTitleLA,
			motherNameLA,
			spouseTitleLA,
			spouseNameLA,
			genderLA,
			dateOfBirthLA,
			countryOfBirthLA,
			placeOfBirthLA,
			permanentAddressLA,
			perPostalCodeLA,
			permanentCountryLA,
			permanentDistrictLA,
			tINLA,
			eTINLA,
			contactNoLA,
			nIDLA,
			passportNo,
			passportIssueDate,
			passportExpiryDate,
			passportIssueCountry,
			privingLicenseNo,
			drivingLicenseIssueDate,
			drivingLicenseExpiryDate,
			drivingLicenseIssueCountry,
			processorName
		FROM 
			RankedData
		ORDER BY 
		disDate;

		END;

		-- EXEC   [dbo].[sp_manageLAMSDumpReport] '22-12-2020' , '14-06-2026' , 'all','56'
		IF (@optType = '56')
		BEGIN
			SELECT 
				dis.disDate,
				com.subProductType,
				loan.facilityNoLOAN AS facilityNo,
				COALESCE(LA.NameLA, LB.tradeName) AS customerName,
				loan.loanAccountNo AS loanAccountNo,
				dis.llid,
				DATEDIFF(DAY,DATEADD(DAY, +15, CONVERT(DATETIME, dis.disDate, 105)),COALESCE(CONVERT(DATETIME, df.docRecDate, 105), GETDATE())) AS aging,
				DATEDIFF(DAY,DATEADD(DAY, +5, CONVERT(DATETIME, dis.disDate, 105)),COALESCE(CONVERT(DATETIME, df.docRecDate, 105), GETDATE())) AS simultaAging,
				df.docRecDate,
				df.docPenDate AS status,
				sec.securityType,
				com.salesChannel,
				com.salesPerson,
				df.pwid
			FROM 
				LamsLoanInfo loan
			LEFT JOIN 
				LamsApplicantInfo la ON loan.llid = la.llid
			LEFT JOIN 
				LamsBusinessInfo lb ON loan.llid = lb.llid
			LEFT JOIN 
				LamsDisbursInfo dis ON loan.llid = dis.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON loan.llid = com.llid 
			LEFT JOIN 
				LamsSecurityInfo sec ON loan.llid = sec.llid 
			LEFT JOIN 
				LamsDeferralInfo df ON loan.llid = df.llid
			WHERE  
				CONVERT(DATETIME, dis.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				--AND com.productType = @productType
				AND (dis.disType = 'Take-Over' OR dis.disType = 'Simultaneous')
				AND (df.docPenDate = 'Done' OR df.docPenDate = 'Pending'); --add in may 06
		END;

				IF (@optType = '59')
		BEGIN
			SELECT 
				loan.loanAccountNo,
				loan.linkAC AS linkAccNo,
				ldb.disDate AS disDate,
				com.subProductType,
				com.llid,
				COALESCE(LA.NameLA, LB.tradeName) AS customerName,
				gu.NameLG AS nameLG,
				gu.TitleLG AS titleLG,
				gu.relNo AS relNo,
				gu.guarantorAmountLG ,
				gu.fatherNameLG,
				gu.SpouseNameLG ,
				gu.ContactNoLG as contactNoLG 
				
			FROM 
				LamsGuarantorInfo gu
			LEFT JOIN 
				LamsDisbursInfo ldb ON gu.llid = ldb.llid
			LEFT JOIN 
				LamsApplicantInfo la ON gu.llid = la.llid
			LEFT JOIN 
				LamsBusinessInfo lb ON gu.llid = lb.llid
			LEFT JOIN 
				LamsLoanInfo loan  ON gu.llid = loan.llid
			LEFT JOIN 
				LamsTopLevelInfo com ON gu.llid = com.llid 
			WHERE  
				CONVERT(DATETIME, ldb.disDate, 105) BETWEEN CONVERT(DATETIME, @fromDate, 105) AND CONVERT(DATETIME, @toDate, 105)
				--AND (com.productType = 'PL'
				--OR com.productType = 'Auto'
				--OR com.productType = 'Mortgage'
				--OR com.productType = 'Cash Line'
				--OR com.productType = 'SME')
		END

	END;

END;
		--Deferral Report","value":"51"},
	 --   Closing Report","value":"52"},
	 --   Security Report","value":"53"},
	 --   PDC Report","value":"54"},
		--CIB Report","value":"55"},
		--Take Over Report","value":"56"},
		--Simultaneous Status Report","value":"57"
